# Игнорирование файлов и папок, создаваемых PyCharm
.idea/           # Папка проекта PyCharm
*.iml            # Файлы модулей PyCharm
*.ipr            # Файлы проекта PyCharm
*.iws            # Файлы рабочих наборов PyCharm
out/             # Папка сборки проекта PyCharm
